<div class="container">
	<div class="row">
		<h1>我们的信息</h1>
	</div>
	<div class="row">
		<div class="span4">
			<ul>
			<li><%= link_to "信息", news_path %></li>
			<li><%= link_to "美国大学", topuniv_path %></li>
			<li><%= link_to "FAQ", faq_path %></li>
			<li><%= link_to "为什么留学", studyinfo_path %></li>
			<li><%= link_to "SAT是什么", resources_path %></li>
			<li><%= link_to "我们的老师", teachers_path %></li>
			</ul>
		</div>
		</div class="span9">
		</div>
	</div>