<div class="container">
	<div class="navbar">
		<nav id="nav_left">
          <%= link_to image_tag('/logo_web2.png'), root_path, :id => "logo" %>
		</nav>
		<p class="emphasis" style="float:right;">电话: 02152125489</p>
		
		<ul id="nav_right" style="clear:right;">
				<button class="btn btn-large" type="button"><%= link_to "关于我们", about_path %></button>
				<span class="dropdown">
				<a class="btn btn-large dropdown dropdown-toggle" data-toggle="dropdown" href="#">  课程安排  </a>
					<ul class="dropdown-menu">
						<%= link_to "SAT 课程", program_sat_path %>	
						<%= link_to "SSAT 课程", program_ssat_path %>
						<%= link_to "TOEFL 课程", program_toefl_path %>
						<%= link_to "留学咨询", program_consulting_path %>
					</ul>
				</span>
				<button class="btn btn-large" type="button"><%= link_to "联系我们", contact_path %></button>
				<button class="btn btn-large" type="button"><%= link_to "信息", news_path %></button>
			</div>
		</ul>
	</div>
</div>	
