<div class="container">
	<div class="navbar">
		<nav id="nav_left" class="nav nav-pills pull-left">
          <%= link_to image_tag('/logo_web.png'), root_path, id: "logo" %>
		</nav>
		<nav id="nav_right" class="nav nav-pills pull-right">
			<li><%= link_to "About Us", root_path %></li>
			<li><%= link_to "Programs", root_path %></li>
			<li><%= link_to "Resources", root_path %></li>
			<li><%= link_to "Contact Us", contact_path %></li>
		</nav>
    </div>
</div>