<div class="container">
	<div class="navbar">
		<nav id="nav_left">
          <%= link_to image_tag('/logo_web2.png'), root_path, :id => "logo" %>
		</nav>
		<ul id="nav_right">
			<li><%= link_to "地址", root_path, :class => "headbutton" %></li>
			<li><%= link_to "联系我们", root_path, :class => "headbutton" %></li>
			<li><%= link_to "SAT东西", root_path, :class => "headbutton"  %></li>
			<li><%= link_to "课程", contact_path, :class => "headbutton" %></li>
			<li><%= link_to "关于我们", root_path, :class => "headbutton"  %></li>
		</ul>
    </div>
</div>