<div class="container">
	<ul class="nav nav-pills">
		<li class="active">
			<%= link_to "About Us", about_path %>
		</li>
		<li class="active">
			<%= link_to "Why Study Abroad?", studyinfo_path %>
		</li>
		<li class="active">
			<%= link_to "Our Teachers", teachers_path %>
		</li>
		<li class="active">
			<%= link_to "Top Universities", topuniv_path %>
		</li>
		<li class="active">
			<%= link_to "SAT Resources", resources_path %>
		</li>
		<li class="active">
			<%= link_to "Upcoming Classes", schedule_path %>
		</li>
		<li class="active">
			<%= link_to "Contact Us", contact_path %>
		</li>
</div>