<div class="container">
	<ul class="nav nav-tabs">
		<li class="active">
			<%= link_to "About Us", "#" %>
		</li>
		<li class="active">
			<%= link_to "Why Study Abroad?", "#" %>
		</li>
		<li class="active">
			<%= link_to "Our Teachers", "#" %>
		</li>
		<li class="active">
			<%= link_to "Top Universities", "#" %>
		</li>
		<li class="active">
			<%= link_to "SAT Resources", "#" %>
		</li>
		<li class="active">
			<%= link_to "Upcoming Classes", "#" %>
		</li>
		<li class="active">
			<%= link_to "Contact Us", "#" %>
		</li>
</div>